@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Edu+TAS+Beginner&family=Noto+Sans&family=Playfair+Display&family=Roboto&family=Roboto+Slab&family=Sometype+Mono&display=swap');

body {
    margin: 0px !important;
    font-family: 'Montserrat, sans-serif';
}

.highlight{ 
    color: black; 
    background-color: yellow;
}
