.wrapper {
    display: flex;
    flex-direction: column;
    font-family: monospace;
    width: 800px;
}

.wrapper .static_text {
    font-size: 30px;
    font-weight: 800;
}

.wrapper .dynamic_text {
    line-height: 50px;
    height: 50px;
    overflow: hidden;
}

.dynamic_text {
    list-style:  none;
    font-size: 20px;
    font-weight: 500;
    position: relative;
}

.dynamic_text li{
    position: relative;
    top : 0;
    animation: slide 15s steps(5) infinite;
}

@keyframes slide{
    100% {
        top: -250px
    }
}

.dynamic_text li::after{
    content: "";
    position: absolute;
    left: 0;
    height: 80%;
    width: 65%;
    border-left: 4px solid black;
    animation: typing 3s steps(10) infinite, blink .4s step-end infinite alternate;
    background-color: white;
}

@keyframes typing {
    40%, 60% {
        left: calc(65%);
    }

    100% {
        left : 0;
    }
}

@keyframes blink {
    50% {
      border-color: transparent
    }
  }
